body {
  background-image: url("../images/blue_background.jpg");
}

.page-title
{
  font-size: 1.5em;
  padding-left: 20px;
}

nav ul li:hover, nav ul li.active 
{
  background-color: #437ED7;
}

#introduction
{
  color: black;
}

.collapsible {
  background: #EBE9E9;
}

.collapsible-header {
  font-weight: bold;
}

.material-icons #workIcon
{
  padding-top: 5px;
}

#experienceTitle
{
  display: inline-flex;
  padding-top: 10px;
}

.collapsible-body ul
{
  margin: 0;
  padding: 2rem;
}

ul li {
  font-size: 17px;
}

ul li #extraneous {
  padding-left:1.1em;
}