body {
  background-image: url("../images/blue_background.jpg");
}

.page-title
{
  font-size: 1.5em;
  padding-left: 20px;
}

nav ul li:hover, nav ul li.active 
{
  background-color: #437ED7;
}

#introduction
{
  color: black;
}

.collapsible {
  background: #F2FAFF;
}

.collapsible-header {
  font-weight: bold;
}

.material-icons #workIcon
{
  padding-top: 5px;
}

#experienceTitle
{
  display: inline-flex;
  padding-top: 10px;
}

.collapsible-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "…" "…";

}

.collapsible-body ul
{
  margin: 0;
  padding: 2rem;
  font-weight: 500;
}

ul li {
  font-size: 17px;
}

ul li .extraneous {
  padding-left:1.1em;
}

#mainLink {
  padding-left: 1.2rem;
}

.dropdown-content li>a {
  font-size: 1rem;
}

.dropdown-content li:hover>a, .dropdown-content li:active>span {
  font-size: 1rem;
  background-color: #8c9eff ;
}

nav .button-collapse i {
  padding-left: 1.2rem;
}