.about .col
{
  margin-bottom: 5px;
}



.about h5
{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.about h6
{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;

}

nav ul li:hover, nav ul li.active 
{
  background-color: #437ED7;
 }

.parallax-container {
   height: 425px;
}

.collapsible-body
{
  padding-left: 10px;
}
       
