.brand-logo 
{
  margin-left: 0.8rem;
}

.about .col
{
  margin-bottom: 5px;
}

.about h5
{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.about h6
{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;

}

nav ul li:hover, nav ul li.active
{
  background-color: #437ED7;
}

.parallax-container {
   height: 425px;
}

.collapsible-body
{
  padding-left: 10px;
}    

.dropdown-content li>a {
  font-size: 1rem;
}

.dropdown-content li:hover>a, .dropdown-content li:active>span {
  font-size: 1rem;
  background-color: #8c9eff ;
}

/*.contact .col
{
    margin-bottom: 24px;
}*/

.contact h5
{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact h6
{
  font-size: 1rem;
  margin-bottom: 10px;
}

.contact hr
{
    width: 40px;
    margin-bottom: 45px;
}

.contact .contact-holder
{
    padding-left: 40px;
}

.contact .contact-holder h6
{
    margin-bottom: 15px;
    text-align: left;
}

.contact .contact-holder p
{
    margin-bottom: 30px;
}

.page-footer .row {
  margin-bottom: 5px;
}

#mainLink {
  padding-left: 1.2rem;
}

nav .button-collapse i {
  padding-left: 1.2rem;
}