.about .col
{
  margin-bottom: 24px;
}

.about h5
{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.about h6
{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;

}

nav ul li:hover, nav ul li.active {
  background-color: #437ED7;
 }

#customizr-slider.carousel .item {
height:         90%;
min-height:     400px;
line-height:    400px;
}