body {
  background-image: url("../images/grey_background.jpg");
}

.page-title
{
  font-size: 1.5em;
  padding-left: 20px;
}

nav ul li:hover, nav ul li.active 
{
  background-color: #9e9e9e;
}

#introduction
{
  color: black;
}

.collapsible {
  background: #eceff1;
}

.collapsible-header {
  font-weight: bold;
}

.material-icons #workIcon
{
  padding-top: 5px;
}

#experienceTitle
{
  display: inline-flex;
  padding-top: 10px;
}

.collapsible-body ul
{
  margin: 0;
  padding: 2rem;
  font-weight: 500;
}

ul li {
  font-size: 15px;
}

ul li #extraneous {
  padding-left:1.1em;
}

.collection-item {
  font-weight: bold;
}

.collection .collection-item.avatar .title {
  font-size: 17px;
}