.about .col
{
  margin-bottom: 24px;
}

.about h5
{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.about h6
{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;

}